.navbar {
  background-color: #1c1c1c;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navLink:hover {
  background-color: #262626;
  transition: 0.6s background-color ease;
  border-radius: 15px;
}
