.navbar {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark {
  background-color: #1c1c1c;
  color: white;
}

.light {
  background-color: #fafafa;
  color: black;
}

.navLink {
  transition: background-color 0.4s ease, color 0.4s ease;
  border-radius: 15px;
}

.navLink:hover {
  background-color: #e5e5e5;
}
